body{
    background-color: #D4EDB3;
}

nav{
    display: flex;
    justify-content: center;
    background-color:#b5d68a;
    border: 1px solid white;
}

.nav-bar{
    display: flex;
    list-style: none;
}

.nav-bar li{
    margin: 0 15px;
}

.nav-bar a{
    font-size: 18px;
    color: #265B97;
    list-style: none;
}

.container{
    display: flex;
    align-items: center;
}

.about{
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 20px;
}

.about h2{
font-size: 24px;
}

button{
    margin-left: 150px;
    padding: 10px 10px 10px 10px;
    color: #265B97;
    background-color: #b5d68a;
    border: 2px solid white;
    border-radius: 5px;
}

.work{
    margin-left: 0px;
    margin-right: 600px;
    margin-top: 20px;
    border: 1px solid #b5d68a ;
    padding-left: 250px;
    background-color: #b5d68a;
    
}

#work li{
    list-style: none;
    margin-bottom: 15px;
    
}

.resume{
    margin-left: 647px;
    margin-top: -413.5px;
    margin-bottom: 250px;
    border: 1px solid #b5d68a ;
    padding: 10px 10px 56px 250px;
    background-color: #b5d68a;
}

#resume li{
    list-style: none;
}

.footer{
    border: 1px solid #b5d68a;
    background-color: #b5d68a;
}

.contact{
    padding-left: 500px;
}

.contact li{
    margin-bottom: 15px;
    list-style: none;
}

.form-field{
    padding-top: 65px;
    margin-bottom: 20px;
    margin-left: 150px;
}

.form-field input{
    padding-left: 50px;
    margin-left: 25px;
    margin-bottom: 5px;
}

#mail{
    margin-left: 88px;
    border: 2px solid #b5d68a;
    border-radius: 5px;
}

#fname{
    margin-left: 50px;
    border: 2px solid #b5d68a;
    border-radius: 5px;
}

#lname{
    margin-left: 55px;
    border: 2px solid #b5d68a;
    border-radius: 5px;
    
}

#pnum{
    margin-left: 25px;
    border: 2px solid #b5d68a;
    border-radius: 5px;
}